@model IEnumerable<GoedBezigWebApp.Models.Group>

@{
    ViewData["Title"] = "GB Organizations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GB Organizations</h2>

<p>
    //ADD TABLE ORGANIZATIONS
</p>
