@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]= Localizer["About Page"];</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
